body{
	margin: 0px;
	overflow-x: hidden;
	height: 100%;
}
div.topo{
	width: 100%;
	height: 75px;
	border: 0px solid black;
	background-color: ;
	float: left;
	/*background-color: rgba(255,102,0,1);*/
}
div.logo{
	border: 0px solid black;
	width: 19%;
	height: 75px;
	background-image: url(../img/logo.png);
	background-size: 253px 75px;
	background-repeat: no-repeat;
	background-position: right;
	float: left;
}
div.name{
	border: 0px solid black;
	width: 48%;
	height: 75px;
	font-size: 20px;
	float: left;
}
div.name h2,div.name h3{
	font-family: Constantia;
	font-size: 20px;
	margin: 5px 0px 0px 15px;
	color: rgba(0,0,0,.78);
}
div.usuario{
	border: 0px solid black;
	width: 26%;
	height: 75px;
	font-size: 20px;
	float: left;
}
div.usuario h2,div.usuario h3{
	font-family: Constantia;
	font-size: 20px;
	margin: 20px 15px 0px 0px;
	text-align: right;
	color: rgba(0,0,0,.78);
}
div.img_user{
	border: 3px solid rgba(0,0,0,.78);
	width: 4.2%;
	height: 55px;
	border-radius: 50%;
	margin-top: 7px;
	margin-left: 10px;
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-size: 55px 55px;
	float: left;
}
div.menu{
	border: 1px solid #fff;
	width: 100%;
	height: 30px;
	float: left;
	background: rgba(0,0,0,.78);
}
div.menu div{
	border: 0px solid #fff;
	width: 120px;
	height: 30px;
	float: left;
}
div.menu span{
	margin-top: 5px;
	display: block;
	text-align: center;
	color: #FFF;
	cursor: pointer;
}
div.menu span:hover{
	color: rgba(255,102,0,1);
}
div.drop:hover ul.dropdown{
	display: block;
}
div.content{
	border: 3px solid rgba(255,102,0,.5);
	border-radius: 2px;
	width: 100%;
	height: 100%;
	float: left;
	z-index: 0;
	background-color: rgba(0,0,0,.78);
	color: #fff;
	overflow: auto;
}
div.conteudo{
	border: 0px solid black;
	width: 80%;
	margin: 10px auto;
	text-align: center;
}
ul.dropdown{
	background-color: rgba(0,0,0,.3);
	color: #FFF;
	padding: 0px;
	margin: 7px 0px 0px 0px;
	position: relative;
	cursor: pointer;
	display: none;
}
ul.dropdown li{
	list-style: none;
	text-align: center;
}
ul.dropdown li:hover{
	color: rgba(255,102,0,1);
}