/* ESTILO GLOBAL */
body{
	margin: 0px;
	overflow-x: hidden;
	height: 100%;
	font-family: Constantia;
}
a{
	text-decoration: none;
	color: #FFF;
}
/* ESTILO HEADER */
div.topo{
	width: 100%;
	height: 75px;
	border: 0px solid black;
	background-color: ;
	float: left;
	/*background-color: rgba(255,102,0,1);*/
}
div.logo{
	border: 0px solid black;
	width: 19%;
	height: 75px;
	background-image: url(../img/logo.png);
	background-size: 253px 75px;
	background-repeat: no-repeat;
	background-position: right;
	float: left;
}
div.name{
	border: 0px solid black;
	width: 48%;
	height: 75px;
	font-size: 20px;
	float: left;
}
div.name h2,div.name h3{
	font-family: Constantia;
	font-size: 20px;
	margin: 5px 0px 0px 15px;
	color: rgba(0,0,0,.78);
}
div.usuario{
	border: 0px solid black;
	width: 26%;
	height: 75px;
	font-size: 20px;
	float: left;
}
div.usuario h2,div.usuario h3{
	font-family: Constantia;
	font-size: 20px;
	margin: 20px 15px 0px 0px;
	text-align: right;
	color: rgba(0,0,0,.78);
}
div.img_user{
	border: 3px solid rgba(0,0,0,.78);
	width: 4.2%;
	height: 55px;
	border-radius: 50%;
	margin-top: 7px;
	margin-left: 10px;
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-size: 55px 55px;
	float: left;
}
/* ESTILO MENU */
div.menu{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	width: 99.8%;
	height: 30px;
	float: left;
	background: rgba(0,0,0,.78);
}
div.menu div{
	border: 0px solid #fff;
	width: 120px;
	height: 31px;
	float: left;
}
div.menu span, div.menu li{
	margin-top: 5px;
	display: block;
	text-align: center;
	color: #FFF;
	cursor: pointer;
}
div.menu span:hover, div.menu li:hover{
	color: rgba(255,102,0,1);
}
div.drop:hover ul.dropdown{
	display: block;
}
ul.dropdown{
	background-color: rgba(0,0,0,.3);
	color: #FFF;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	position: relative;
	cursor: pointer;
	display: none;
}
ul.dropdown li{
	list-style: none;
	text-align: center;
}
ul.dropdown li:hover{
	color: rgba(255,102,0,1);
}
/* ESTILO CONTEUDO */
div.content{
	border-top: 2px solid rgba(255,102,0,1);
	border-radius: 2px;
	width: 100%;
	height: 100%;
	float: left;
	z-index: 0;
	background-color: rgba(0,0,0,.78);
	color: #fff;
	overflow: auto;
}
div.conteudo{
	border: 0px solid black;
	width: 80%;
	margin: 10px auto;
	text-align: center;
}
/* ESTILO MATERIAL */
div.conteudo{
	border: 0px solid #FFF;
}
form.cadastro{
	border: 0px solid #FFF;
	width: 655px;
	margin: 0px auto;
}
div.lcadastro{
	border: 0px solid #FFF;
	margin-left: 11px;
	width: 150px;
	height: 57px;
	float: left;
}
div.lcadastro label{
	width: 150px;
	float: left;
}
input.text{
	margin-top: 10px;
	width: 146px;
	height: 17px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
	outline: none;
}
input.text:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
input.text:focus{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
div.lcadastro select{
	margin-top: 10px;
	width: 150px;
	height: 21px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
	outline: none;
}
div.lcadastro select:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
div.lcadastro select:focus{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
input.button{
	width: 100px;
	height: 25px;
	margin-top: 15px;
	background-color: rgba(56,56,56,1);
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 6px;
	cursor: pointer;
	transition: border .5s;
	outline: none;
}
input.button:hover{
	transition: border .5s;
	border: 1px solid rgba(255,102,0,1);
}
input.button:focus{
	transition: border .5s;
	border: 1px solid rgba(255,102,0,1);
}
button.button{
	width: 100px;
	height: 25px;
	margin-top: 15px;
	background-color: rgba(56,56,56,1);
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 6px;
	cursor: pointer;
	transition: border .5s;
	outline: none;
}
button.button:hover{
	transition: border .5s;
	border: 1px solid rgba(255,102,0,1);
}
button.button:focus{
	transition: border .5s;
	border: 1px solid rgba(255,102,0,1);
}
div.exibir{
	width: 700px;
	height: 400px;
	border: 2px solid rgba(255,102,0,1);
	border-radius: 8px;
	margin: 25px auto 0px auto;
	overflow: auto;
}
div.header{
	width: 695px;
	margin: 2px auto 0px auto;
	border: 0px solid #FFF;
	float: left;
}
div.header div{
	border-right: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	width: 138px;
	float: left;
}
div.material{
	width: 695px;
	margin: 2px auto 0px auto;
	border: 0px solid #FFF;
	float: left;
	overflow: auto;
}
div.material div{
    width: 96px;
    float: left;
}
input.edit{
	margin-right: 7px;
	width: 130px;
	height: 17px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
}
input.edit:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
div.material select{
	margin-right: 7px;
	width: 132px;
	height: 21px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
}
div.material select:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
input.bt_edit{
	margin-right: 3px;
	width: 21px;
	height: 21px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
	cursor: pointer;
}
input.bt_edit:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
input.editar{
	background-image: url(../img/editar.png);
	background-size: 19px 19px;
	background-repeat: no-repeat;
	outline: none;
	margin-left: 25%;
	margin-right: 3px;
	width: 21px;
	height: 21px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
	cursor: pointer;
}
input.editar:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
input.salvar{
	background-image: url(../img/salvar.png);
	background-size: 19px 19px;
	background-repeat: no-repeat;
	outline: none;
	margin-right: 3px;
	width: 21px;
	height: 21px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
	cursor: pointer;
}
input.salvar:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
input.excluir{
	background-image: url(../img/delete.png);
	background-size: 19px 19px;
	background-repeat: no-repeat;
	outline: none;
	margin-right: 3px;
	width: 21px;
	height: 21px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
	cursor: pointer;
}
input.excluir:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
/* ESTILO FUNCIONARIO */
div.modal{
	width: 80%;
	border: 2px solid rgba(255,102,0,1);
	border-radius: 4px;
	position: absolute;
	top: 20px;
	z-index: 100;
	background: rgba(69,69,69,1);
	display: none;
}
div.head_modal{
	border-bottom: 1px solid rgba(255,255,255,.7);
	width: 99.8%;
	height: 22px;
}
div.name_modal{
	border: 0px solid;
	width: 97%;
	height: 20px;
	text-align: left;
	float: left;
}
div.exit_modal{
	border: 2px solid;
	border-radius: 100%;
	width: 1.5%;
	height: 15px;
	float: left;
	font-family: Segoe Script;
	font-size: 13px;
	cursor: pointer;
	/*color: rgba(255,102,0,1);*/
}
div.overflow{
	overflow: auto;
	height: 600px;
}
div.header_modal{
	border: 1px solid;
	width: 195.5%;
	height: 22px;
	margin: 2px auto 0px auto;
	border: 0px solid #FFF;
	float: left;
}
div.header_modal div{
	border-right: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	width: 150px;
	float: left;
}
form.contexto{
	border: 0px solid;
	width: 195.5%;
	float: left;
}
div.fundo{
	background-color: rgba(0,0,0,.7);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}
input.edit_model{
	margin-right: 7px;
	width: 142px;
	height: 17px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
}
input.edit_model:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
form.contexto div{
	width: 105px;
	margin-left: 25px;
    margin-right: 21px;
	float: left;	
}
form.contexto span{
	float: left;
}
input.bt_modal{
	-webkit-appearance: none;
    background-color: rgba(0,0,0,0);
	border: 1px solid #FFF;
    border-radius: 10px;
    width: 15px;
    height: 15px;
	float: left;
	outline: none;
}
input.bt_modal:checked{
	background-image: url(../img/checked.jpeg);
	background-size: 13px 13px;
	background-repeat: no-repeat;
	border: 1px solid rgba(255,102,0,1);
	transition: background 1s;
}
/* ESTILO DESPESA */
div.despesa{
	width: 695px;
	height: 370px;
	margin: 2px auto 0px auto;
	border: 0px solid #FFF;
	float: left;
	overflow: auto;
}
div.despesa div{
    width: 96px;
    float: left;
}
div.despesa select{
	margin-right: 7px;
	width: 132px;
	height: 21px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
}
div.despesa select:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
/* ESTILO ENTRADA DE CAIXA */
div.titulo{
	border: 0px solid;
	width: 1510px;
	float: left;
}
div.titulo div{
	border-right: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	width: 150px;
	float: left;
}
div.entrada{
	width: 1510px;
	margin: 2px auto 0px auto;
	border: 0px solid #FFF;
	float: left;
	overflow: auto;
}
div.entrada div{
    width: 96px;
    float: left;
}
div.entrada select{
	margin-right: 7px;
	width: 145px;
	height: 21px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
}
div.entrada select:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
/* ESTILO PARA INPUT DINHEIRO */
input.money{
	margin-top: 10px;
	width: 146px;
	height: 17px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
	outline: none;
}
input.money:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
input.money:focus{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
/* ESTILO RELATORIO */
div.hideshow{
	position: absolute;
	left: 5%;
	width: 90%;
	height: 60%;
	margin: 15px auto 0px auto;
	border: 1px solid rgba(255,102,0,1);
	overflow: auto;
}
div.relat{
	border: 0px solid;
	border-radius: 5px;
	float: left;
	display: none;
}
div.entrada_exibir{
	border: 0px solid;
	width: 1520px;
	float: left;
}
div.entrada_exibir div{
	border-right: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	width: 150px;
	float: left;
}
div.edit_enter{
	width: 1520px;
	margin: 2px auto 0px auto;
	border: 0px solid #FFF;
	float: left;
	overflow: auto;
}
div.edit_enter div{
    width: 96px;
    float: left;
}
div.edit_enter select{
	margin-right: 7px;
	width: 145px;
	height: 21px;
	float: left;
	background-color: rgba(69,69,69,1);
	border: 1px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	transition: border .5s;
}
div.edit_enter select:hover{
	border: 1px solid rgba(255,102,0,1);
	transition: border .5s;
}
div#todos{
	display: block;
}
/* ESTILO ESTOQUE */
table.estoque{
	border: 0px solid;
	width: 400px;
	margin: 15px auto;
}
table.estoque td{
	border-right: 1px dotted #FFF;
	border-bottom: 1px dotted #FFF;
}
/* ESTILO SUPORTE */
div.suporte{
	border: 1px solid;
	width: 500px;
	margin: 15px auto;
}
div.head_suporte{
	border: 0px solid;
	width: 100%;
	height: 100px;
}
div.img_suporte{
	width: 100px;
	height: 100px;
	margin: 0px;
	background-image: url(../img/suporte.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90px 90px;
	float: left;
}
div.name_suporte{
	border: 0px solid;
	width: 400px;
	height: 100px;
	margin: 0px;
	float: left;
}
div.name_suporte span{
	font-size: 25px;
	line-height: 100px;
}
div.body_suporte{
	margin: 25px 0px 0px 0px;
	width: 100%;
	height: 120px;
}










